.component-3{
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 

    #heder{
        font-family: $font-raleway; 
        font-weight: 600; 
        span{
            color: $green; 
        }
    }
    #speaker{
        div{
            display: inline-block; 
            background-color: $graysh; 
            margin-bottom: 5px; 
        }
        img{
            margin-left: 5px; 
        }
    }

}