@media screen and ($mobile) {
    .component-5{
        height: 803px;
        display: $grid;
        padding-top: 37px;

    .wrap{
        margin-top: 61px;
        display: $grid;
        grid-template-columns:281px;
        grid-template-rows:  170px 170px 171px 163px;
        justify-content: center;
    }
    
    >h1{
        font-size: 27px;
        justify-self: center;
    }
    .chest{
        margin-top: 89px;
        div{
            margin-bottom: 6px;
            margin-right: 1px;
            margin-left: 8px;
            &:nth-child(3){
                margin-left: 3px;
            }
        }
        }

        .box{
            width: 280px;
            height: 163px;
            background-color: $black;
            display: flex; 
            justify-content: center; 
            padding-top: 44px;
            position: relative;
            
            >div:first-child{
                display: flex;
                justify-content: center;
                gap: 7px;
                display: none;
            }
            >div:last-child{
                background-color: black;
                position: absolute;
                bottom: 0;
                height: 54px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 12px;
                width: 100%;
                h2{
                    font-size: 14px;
                    font-family: $font-raleway;
                    margin-bottom: 2.5px;
                    color: $white;
                    .a{
                        display: none;
                    }
                }
                span{
                    font-size: 11px;
                    font-family: $font-raleway;
                    font-style: italic;
                    font-weight: 600;
                    color: $green;
                
                }
                display: none;
            }
            .round{
                height: 26px;
                width: 26px;
                border-radius: 50%;
                background-color: $green;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-child(3){
                    i{padding-right: 1.5px;

                    }
                }
                i{
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background-color: $gray-icon;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 11px;
                    &:first-of-type,
                    &:nth-of-type(2){
                        padding-left: 2px;
                        padding-top: 3px;
                        color: $white;
                    }
                }
            }
            &:hover{
                >div:first-child{
                    display: flex;
                }
                >div:last-child{
                    display: flex;
                }
                background-color: $gray;
            }
        }
        .tablet,
        .desktop,
        .tabl{
            display: none;
        }
        
    }
}