
    .component-5{
        justify-content: center;
        position: relative;
    >h1{
        font-family: $font-raleway;//
    }
    .chest{
        width: 116px;//
        position: absolute;//
        left: 50%;//
        transform: translate(-50%,-50%);//
        div{
            display: inline-block; //
            height: 0.5px; //
            width: 33px; //
            background-color: $graysh; //
        }
        img{
            margin-left: 2px;//
        }
        }
        
    }
