@media screen and ($desktop) {
    .component-7{
        height: 312px;
        width: 100%;
        .logo-handler{
            img{
                margin-top: 48px;
                width: 119px;
                margin-right: 3px;
            }
        }
        .links{
            margin-top: 35px;
            width: 287px;
            height: 92px;
            gap: 8.6px;
            div{
                &:first-child{
                    padding-top: 2px;
                }
                &:nth-child(3){
                    padding-left: 3px;
                }
                &:hover{
                    background-color: $blue;
                }
            }
        }
        .copy-right{
            margin-top: -4px;
            letter-spacing: 0.15px;
        }
    }
}