@media screen and ($desktop) {
    .component-7{
        height: 312px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $black;
        .logo-handler{
            img{
                margin-top: 48px;
                width: 119px;
                margin-right: 3px;
            }
        }
        .links{
            margin-top: 35px;
            width: 287px;
            height: 92px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8.6px;
            div{
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background-color: $icon-col;

                &:first-child{
                    padding-top: 2px;
                }
                &:nth-child(3){
                    padding-left: 3px;
                }
                &:hover{
                    background-color: $blue;
                }
            }
        }
        .copy-right{
            color: $white;
            font-size: 11px;
            font-family: $font-raleway;
            margin-top: -4px;
            letter-spacing: 0.15px;
        }
    }
}