@media screen and ($mobile) {
    .component-7{
        height: 312px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $black;
        .logo-handler{
            img{
                margin-top: 44px;
                width: 106px;
                margin-right: 4px;
            }
        }
        .links{
            margin-top: 35px;
            width: 188px;
            margin-right: 3px;
            height: 92px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8.6px;
            div{
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                background-color: $icon-col;
                &:first-child,
                &:nth-child(5){
                    margin-left: 2px;
                }

                &:first-child{
                    padding-top: 2px;
                }
                &:nth-child(3){
                    padding-left: 3px;
                }
                &:hover{
                    background-color: $blue;
                }
            }
        }
        .copy-right{
            color: $white;
            font-size: 11px;
            font-family: $font-raleway;
            margin-top: 39px;
            margin-right: 8px;
            letter-spacing: 0.15px;
        }
    }
}