@media screen and ($mobile) {
    .component-7{
        height: 312px;
        width: 100%;
        .logo-handler{
            img{
                margin-top: 44px;
                width: 106px;
                margin-right: 4px;
            }
        }
        .links{
            margin-top: 35px;
            width: 188px;
            margin-right: 3px;
            height: 92px;
            gap: 8.6px;
            div{
                &:first-child,
                &:nth-child(5){
                    margin-left: 2px;
                }

                &:first-child{
                    padding-top: 2px;
                }
                &:nth-child(3){
                    padding-left: 3px;
                }
                &:hover{
                    background-color: $blue;
                }
            }
        }
        .copy-right{
            margin-top: 39px;
            margin-right: 8px;
            letter-spacing: 0.15px;
        }
    }
}