@media screen and ($mobile) {
    .component-4{
        background-color: $black;
        height: 1107px;
        display: $flex;
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        >h1{
            font-size: 27px;
            font-family:$font-raleway;
            color: $white;
            margin-bottom: 8.5px;
            
        }
        #services{
            width: 116px;
            margin-bottom: 49px;
            div{
                display: inline-block;
                height: 0.5px;
                width: 37px;
                background-color: $graysh;
                margin-bottom: 8px;
                margin-right: 5px;
            }
            img{
                margin-left: 2px;
            }
            div:nth-of-type(2){
                margin-left: 3px;
            }
                }

            .hexagon {
                width: 118px;
                height: 140px;
                background-color:$white; 
                clip-path: polygon(50% 2%, 101% 27%, 101% 75%, 50% 100%, 0% 76%, 0% 27%);
                margin-bottom: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                background-color: $green;
                .second-hex{
                    background-color: $white; 
                    .inner-hexagon{
                        background-color: $green; 
                    }
                }
            }

                &.second{
                    margin-top: -2px;
                    margin-bottom: 42px;
                    span:nth-of-type(2){
                        margin-top: 1px;
                    }
                }

                &.third{
                    margin-top: -1px;
                }
              
              .second-hex{
                width: 113px;
                height: 132px;
                background-color: $gray;
                clip-path: polygon(47.5% 0%, 96% 24%, 96% 72%, 48% 95%, 0% 72%, 0% 24%);
                margin-top: 10px;
                margin-left: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                .inner-hexagon {
                    width: 105px;
                    height: 119px;
                    margin-right: 5px;
                    margin-bottom: 8px;
                    margin-top: 1px;
                    background-color:$gray; 
                    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 1% 76%, 1% 25%);
                    display: $flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-bottom:3px;
                        margin-right:3px;
                    }

                  }
              }
            }
            .hdr2{
                font-family: $font-raleway;
                font-size: 19px;
                color: $green;
                margin-bottom: 12px;
            }
            span{
                font-family: $font-open-sans;
                color: $white;
                font-size: 13px;
                width: 256px;
                letter-spacing: 0.24px;
                line-height: 21px;
                &:nth-of-type(2){
                    min-width: 273px;
                    letter-spacing: 0.20px;
                }
                &:nth-of-type(3){
                    margin-left: 31px;
                    letter-spacing: 0.21px;
                }
            }
            .center{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                &:not(:last-of-type){
                    margin-bottom: 42px;
                }
                &:nth-of-type(3){
                    .inner-hexagon{
                    img{
                   margin-bottom: 4px;

                    }
                }
                .hdr2{
                    letter-spacing: 0.3px;
                }
                span:nth-of-type(2){
                    margin-top: 2px;
                }
                }
                &:nth-of-type(4){
                    .inner-hexagon{
                    img{
                   margin-left: 1px;

                    }
                }
                .hdr2{
                    letter-spacing: 0.3px;
                }
                span:nth-of-type(1){
                    margin-top: 2px;
                }
                span:nth-of-type(2){
                    margin-bottom: 1px;
                }
                }
               &:nth-of-type(2){
                .hdr2{
                    letter-spacing: 0.3px;
                }
                span:nth-of-type(1),
                span:nth-of-type(2){
                    margin-bottom: 1px;
                }
               }
               &:nth-of-type(3){
                span:nth-of-type(1){
                    margin-top: 1px;
                }
               } 
            }
              
            
    }
}