
    .component-6{
        flex-direction: column; //
        align-items: center;//
        position: relative;//
    
    >h1{
        font-family: $font-raleway;//
    }
                .but{ //
                width: 160px;
                height: 42px;
                background-color: $green;
                color: $white;
                font-family: $font-raleway;
                font-weight: bold;
                border: none;
                margin-top: 3px;
                letter-spacing: -0.2px;
                padding-right: 1px;
            }
        }



