@media screen and ($desktop) {
    .component-1{
        height: 101px;
        display: $grid;
        grid-template-columns: 19.5% 22.4% 4.3% 4.5% 5.2% 6.05% 7.15% 4% 4% 3.3% 1fr;
        grid-template-rows: 26% 16% 13% 11% 32%;
    
        #parryLogo{
            grid-area: 2/2/3/3;
            width: 120px;   
            height: 52px;
    
        }
        #menu{
            display:none;
        }
        .nav{
            display: inline;
            font-family: $font-open-sans;
            color: $white;
            font-size: $font-size-14;
            line-height: 15px;
            
        }

        .nav:nth-of-type(1){
            grid-area:3/3/4/4;
        }

        .nav:nth-of-type(2){
            grid-area:3/4/4/5;

        }
        .nav:nth-of-type(3){
            grid-area:3/5/4/6;
        }
        .nav:nth-of-type(4){
            grid-area:3/6/4/7;
        }
        .nav:nth-of-type(5){
            grid-area:3/7/4/8;
        }
        .nav:nth-of-type(6){
            grid-area:3/8/4/9;
        }
        .nav:nth-of-type(7){
            grid-area:3/9/4/10;
        }

        .nav:nth-of-type(8){
            grid-area:3/10/4/11;
        }

    } 
}