@media screen and ($desktop) {
    .component-1{
        height: 101px;
        display: flex;
        justify-content:center;
        align-items: center;
        .wrapper{
            display: flex;
            justify-content: space-between;
            width: 60.8%;
        }
        #parryLogo{
            margin-top: 11px;
            width: 120px;   
            height: 52px;
        }
        .cont{
            width: 63.3%;
            display: flex;
            justify-content: space-between;
        }
        #menu{
            display:none;
        }
        .nav{
            display: inline;
            white-space: normal;
            font-family: $font-open-sans;
            color: $white;
            font-size: $font-size-14;
            line-height: 65px;
            
        }

    } 
}