
@media screen and ($mobile) {
    .component-1{
        height: 67px;
        display: flex;
        justify-content: space-between;
    
        .wrapper{
            display: flex;
            justify-content: space-between;
        }
        #parryLogo{
            width: 90.84px;
            margin-left:22%;
            margin-top: 14px;
    
        }
        #menu{
            width: 48px;
            height: 31px;
            margin-top: 18px;
            margin-left: 43%;
        }
    }  
    .nav{
        display: none;
    }
}

