@media screen and ($tablet) {
    .component-1{
        height: 108.92px;
        justify-content: space-between;
        #parryLogo{
            width: 120px;
            height: 52px;
            margin-left: 21%;
            margin-top: 28px;
    
        }
        #menu{
            height: 39px;
            width: 56px;
            margin-top: 36px;
            margin-left: 70%;
        }
        .nav{
            display: none;
        }
    } 
}