$grid:grid;

$flex:flex;

$font-open-sans:'Open Sans';

$font-raleway:'Raleway';

$font-Montserrat:'Montserrat';

$font-size-14: 14px;

$font-size-25:25px;

$font-size-30:30px;

$font-size-9:9px;

$font-size-7:7px;
body{
overflow-x: hidden;
}
.wrapper{
    width: 100vw;
}

