* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
}

@media screen and ((min-width:320px) and (max-width:767px)) {
  .component-1 {
    height: 67px;
    display: grid;
    grid-template-columns: 6% 72.4% 15% 6.6%;
    grid-template-rows: 22% 47% 4% 27%;
  }
  .component-1 #parryLogo {
    grid-area: 2/2/3/3;
    width: 90.84px;
  }
  .component-1 #menu {
    grid-area: 2/3/2/4;
    margin-top: 3px;
  }
  .nav {
    display: none;
  }
}
@media screen and ((min-width:768px) and (max-width:1023px)) {
  .component-1 {
    height: 108.92px;
    display: grid;
    grid-template-columns: 3.2% 86.1% 7.3% 1fr;
    grid-template-rows: 26% 39% 3% 31%;
  }
  .component-1 #parryLogo {
    grid-area: 2/2/3/3;
    width: 120px;
    height: 52px;
  }
  .component-1 #menu {
    grid-area: 2/3/2/4;
    margin-top: 7px;
    height: 39px;
    width: 56px;
  }
  .component-1 .nav {
    display: none;
  }
}
@media screen and ((min-width:1024px) and (max-width:1920px)) {
  .component-1 {
    height: 101px;
    display: grid;
    grid-template-columns: 19.5% 22.4% 4.3% 4.5% 5.2% 6.05% 7.15% 4% 4% 3.3% 1fr;
    grid-template-rows: 26% 16% 13% 11% 32%;
  }
  .component-1 #parryLogo {
    grid-area: 2/2/3/3;
    width: 120px;
    height: 52px;
  }
  .component-1 #menu {
    display: none;
  }
  .component-1 .nav {
    display: inline;
    font-family: "Open Sans";
    color: #FFFFFF;
    font-size: 14px;
    line-height: 15px;
  }
  .component-1 .nav:nth-of-type(1) {
    grid-area: 3/3/4/4;
  }
  .component-1 .nav:nth-of-type(2) {
    grid-area: 3/4/4/5;
  }
  .component-1 .nav:nth-of-type(3) {
    grid-area: 3/5/4/6;
  }
  .component-1 .nav:nth-of-type(4) {
    grid-area: 3/6/4/7;
  }
  .component-1 .nav:nth-of-type(5) {
    grid-area: 3/7/4/8;
  }
  .component-1 .nav:nth-of-type(6) {
    grid-area: 3/8/4/9;
  }
  .component-1 .nav:nth-of-type(7) {
    grid-area: 3/9/4/10;
  }
  .component-1 .nav:nth-of-type(8) {
    grid-area: 3/10/4/11;
  }
}
.component-1 {
  width: 100%;
  background-color: #000000;
}

@media screen and ((min-width:320px) and (max-width:767px)) {
  .component-2 {
    height: 212px;
    padding-top: 50px;
  }
  .component-2 #parry-span-1 {
    font-size: 25px;
    letter-spacing: -0.2px;
    margin-right: 5px;
    margin-bottom: 8.7px;
  }
  .component-2 #U-love {
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -0.86px;
    margin-right: 5px;
    margin-bottom: 8px;
  }
  .component-2 #small-lorem {
    font-family: "Raleway";
    font-size: 9px;
    letter-spacing: -0.09px;
    color: #FFFFFF;
    line-height: 9px;
    margin-bottom: 16.7px;
  }
  .component-2 #tablet-lorem {
    display: none;
  }
  .component-2 button {
    width: 60px;
    height: 15px;
    font-size: 7px;
    margin-top: 2.8%;
    margin-left: 3.1%;
    letter-spacing: -0.2px;
    padding-left: 4%;
  }
  .component-2 .outer {
    height: 19px;
    width: 64px;
    margin-right: 2px;
  }
  .component-2 #left-arrow, .component-2 #right-arrow {
    display: none;
  }
}
@media screen and ((min-width:768px) and (max-width:1023px)) {
  .component-2 {
    height: 592px;
    padding-top: 174px;
  }
  .component-2 #parry-span-1 {
    font-size: 58.8px;
    letter-spacing: -0.7px;
    margin-bottom: 50.7px;
  }
  .component-2 #U-love {
    letter-spacing: -2.1px;
    font-size: 71.7px;
    line-height: 24px;
    margin-right: 5px;
    margin-bottom: 44px;
  }
  .component-2 #tablet-lorem {
    font-family: "Raleway";
    font-size: 18.9px;
    letter-spacing: -0.15px;
    margin-right: 0.6%;
    color: #FFFFFF;
    line-height: 9px;
    margin-bottom: 41.7px;
  }
  .component-2 #small-lorem {
    display: none;
  }
  .component-2 button {
    width: 138px;
    height: 38px;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 2.5%;
    letter-spacing: -0.2px;
  }
  .component-2 .outer {
    height: 44px;
    width: 144px;
    margin-right: 0.9%;
  }
  .component-2 #left-arrow, .component-2 #right-arrow {
    display: none;
  }
}
@media screen and ((min-width:1024px) and (max-width:1920px)) {
  .component-2 {
    height: 759px;
    padding-top: 263px;
    position: relative;
  }
  .component-2 #parry-span-1 {
    font-size: 58.8px;
    letter-spacing: 1px;
    margin-left: 1.15%;
    margin-bottom: 50.7px;
  }
  .component-2 #U-love {
    letter-spacing: -0.85px;
    margin-left: 1.5%;
    font-size: 71.7px;
    line-height: 24px;
    margin-right: 5px;
    margin-bottom: 45px;
  }
  .component-2 #tablet-lorem {
    font-family: "Raleway";
    font-size: 18.9px;
    letter-spacing: 0.3px;
    margin-left: 0.91%;
    color: #FFFFFF;
    line-height: 9px;
    margin-bottom: 47.5px;
  }
  .component-2 #small-lorem {
    display: none;
  }
  .component-2 button {
    width: 138px;
    height: 38px;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 2.5%;
    letter-spacing: -0.2px;
  }
  .component-2 .outer {
    height: 44px;
    width: 144px;
    margin-left: 1.2%;
  }
  #left-arrow {
    position: absolute;
    left: 2%;
    margin-top: 2%;
  }
  #right-arrow {
    position: absolute;
    right: 2%;
    margin-top: 2%;
  }
}
.component-2 {
  width: 100%;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.component-2 #parry-span-1 {
  font-family: "Raleway";
  color: #FFFFFF;
  line-height: 20px;
}
.component-2 #U-love {
  font-family: "Montserrat";
  font-weight: bold;
  color: #FFFFFF;
}
.component-2 button {
  background-color: #3AB6B2;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.component-2 .outer {
  background-color: #3AB6B2;
  display: flex;
}

@media screen and ((min-width:320px) and (max-width:767px)) {
  .component-3 {
    height: 799px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
  }
  .component-3 #heder {
    font-size: 27px;
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 10px;
  }
  .component-3 #heder span {
    color: #3AB6B2;
  }
  .component-3 #speaker {
    width: 99px;
    margin-bottom: 32px;
  }
  .component-3 #speaker div {
    display: inline-block;
    height: 0.5px;
    width: 33px;
    background-color: #D3D3D3;
    margin-bottom: 5px;
  }
  .component-3 #speaker img {
    margin-left: 5px;
  }
  .component-3 #speaker div:nth-of-type(2) {
    margin-left: 2px;
  }
  .component-3 .black-box {
    height: 207px;
    width: 87.5%;
    background-color: #000000;
    margin-bottom: 16px;
  }
  .component-3 .center-helper {
    width: 87.5%;
    margin-bottom: 12px;
  }
  .component-3 .center-helper > span {
    font-family: "Raleway";
    font-weight: 600;
    letter-spacing: -0.38px;
  }
  .component-3 .center-helper p {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 23px;
  }
  .component-3 .center-helper:last-of-type {
    margin-top: 44px;
  }
  .component-3 .line {
    height: 1px;
    width: 87%;
    background-color: #E6E6E6;
    margin-bottom: 11px;
  }
  .component-3 .bullets {
    margin-top: 21px;
    margin-bottom: -2px;
    width: 87.9%;
    display: grid;
    grid-template-columns: 11.4% 1fr;
    grid-template-rows: 1fr;
  }
  .component-3 .bullets i {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    background-color: #3AB6B2;
    margin-top: 4px;
  }
  .component-3 button {
    width: 138px;
    height: 42px;
    background-color: #3AB6B2;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    padding-right: 2%;
    padding-bottom: 0.5%;
  }
  .component-3 .for-tablet {
    display: none;
  }
  .component-3 .mobile {
    display: inline;
  }
  .component-3 .tabl {
    display: none;
  }
}
@media screen and ((min-width:768px) and (max-width:1023px)) {
  .component-3 {
    height: 1146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 73px;
  }
  .component-3 #heder {
    font-size: 28.8px;
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 10px;
  }
  .component-3 #heder span {
    color: #3AB6B2;
  }
  .component-3 #speaker {
    width: 99px;
    margin-bottom: 55px;
  }
  .component-3 #speaker div {
    display: inline-block;
    height: 0.5px;
    width: 33px;
    background-color: #D3D3D3;
    margin-bottom: 5px;
  }
  .component-3 #speaker img {
    margin-left: 5px;
  }
  .component-3 #speaker div:nth-of-type(2) {
    margin-left: 2px;
  }
  .component-3 .black-box {
    height: 420.5px;
    width: 93.5%;
    background-color: #000000;
    margin-bottom: 29px;
  }
  .component-3 .for-mobile {
    display: none;
  }
  .component-3 .center-helper {
    width: 93.5%;
    margin-bottom: 17px;
  }
  .component-3 .center-helper span:not(.tabl) {
    font-family: "Raleway";
    font-weight: 600;
    letter-spacing: -0.6px;
    font-size: 25px;
  }
  .component-3 .center-helper p, .component-3 .center-helper .tabl {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 23px;
  }
  .component-3 .center-helper:last-of-type {
    margin-top: 43px;
  }
  .component-3 .mobile {
    display: none;
  }
  .component-3 .line {
    height: 1px;
    width: 93.5%;
    background-color: #E6E6E6;
    margin-bottom: 18px;
  }
  .component-3 .bullets {
    margin-top: 19px;
    margin-bottom: -2px;
    width: 93.5%;
    display: grid;
    grid-template-columns: 4.3% 1fr;
    grid-template-rows: 1fr;
  }
  .component-3 .bullets i {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    background-color: #3AB6B2;
    margin-top: 4px;
  }
  .component-3 .bullets p {
    width: 80%;
  }
  .component-3 .second {
    margin-top: 21px;
  }
  .component-3 .third {
    margin-top: 22px;
  }
  .component-3 button {
    width: 138px;
    height: 42px;
    background-color: #3AB6B2;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    padding-right: 0.5%;
  }
}
@media screen and ((min-width:1024px) and (max-width:1920px)) {
  .component-3 {
    height: 1146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 73px;
  }
  .component-3 #heder {
    font-size: 28.8px;
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 10px;
  }
  .component-3 #heder span {
    color: #3AB6B2;
  }
  .component-3 #speaker {
    width: 99px;
    margin-bottom: 55px;
  }
  .component-3 #speaker div {
    display: inline-block;
    height: 0.5px;
    width: 33px;
    background-color: #D3D3D3;
    margin-bottom: 5px;
  }
  .component-3 #speaker img {
    margin-left: 5px;
  }
  .component-3 #speaker div:nth-of-type(2) {
    margin-left: 2px;
  }
  .component-3 .black-box {
    height: 420.5px;
    width: 93.5%;
    background-color: #000000;
    margin-bottom: 29px;
  }
  .component-3 .for-mobile {
    display: none;
  }
  .component-3 .center-helper {
    width: 93.5%;
    margin-bottom: 17px;
  }
  .component-3 .center-helper span:not(.tabl) {
    font-family: "Raleway";
    font-weight: 600;
    letter-spacing: -0.6px;
    font-size: 25px;
  }
  .component-3 .center-helper p, .component-3 .center-helper .tabl {
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 23px;
  }
  .component-3 .center-helper:last-of-type {
    margin-top: 43px;
  }
  .component-3 .mobile {
    display: none;
  }
  .component-3 .line {
    height: 1px;
    width: 93.5%;
    background-color: #E6E6E6;
    margin-bottom: 18px;
  }
  .component-3 .bullets {
    margin-top: 19px;
    margin-bottom: -2px;
    width: 93.5%;
    display: grid;
    grid-template-columns: 4.3% 1fr;
    grid-template-rows: 1fr;
  }
  .component-3 .bullets i {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    background-color: #3AB6B2;
    margin-top: 4px;
  }
  .component-3 .bullets p {
    width: 80%;
  }
  .component-3 .second {
    margin-top: 21px;
  }
  .component-3 .third {
    margin-top: 22px;
  }
  .component-3 button {
    width: 138px;
    height: 42px;
    background-color: #3AB6B2;
    font-family: "Raleway";
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    padding-right: 0.5%;
  }
}
.component-3 {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
